<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esperia09.android.testmfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="com.felicanetworks.mfc.permission.MFC_ACCESS" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="fugafuga"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TestMfcActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.felicanetworks.mfc.Felica" android:exported="false"></service>
    </application>

</manifest>
